.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Window.css */
.window{
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.window-header {
  background-color: #007bff;
  color: #fff;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.window-title {
  font-size: 18px;
  font-weight: bold;
}

.window-close-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.window-content{
  padding: 16px;
}

/* UserForm CSS */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling for the Create New Meal button */
.create-new-meal-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Ensuring parent container is relative for the positioning of the button */
.meal-container {
  position: relative;
}

/* Styling for adding ingredients button */
.ingredient-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  font-size: 18px;
  margin-left: 10px;
  display: inline-block; /* To keep it next to the ingredient name */
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ingredient-button:hover {
  background-color: #0056b3; /* Darker shade for hover */
}

.ingredient-button:active {
  background-color: #003c80; /* Even darker shade for active state */
}


