/* Styling for adding ingredients button */
.ingredient-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 25px;
    text-align: center;
    padding: 0;
}

.ingredient-button:hover {
    background-color: #0056b3; /* Darker shade for hover */
}

.ingredient-button:active {
    background-color: #003c80; /* Even darker shade for active state */
}

/* Styling for the "Add Meal" button */
.add-meal-button {
    margin-top: 20px; /* Adjust the margin-top value as needed to move the button lower */
}