/** CSS formatting of the buttons */
.buttonStyle {
    display: block;
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    margin: 10px 0;
    background-color: #007BFF; /** example color, choose what you like */
    color: white;
    border: none;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DropdownContent.css */
.dropdown-content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown.active .dropdown-content {
    display: flex;
}

.dropdown-content p {
    padding: 12px;
    margin: 5px 0;
    cursor: pointer;
    pointer-events: auto;
    white-space: nowrap;
}

/* Adjust margin for headings */
.dropdown-content h3,
.dropdown-content h4 {
    margin: 5px 0;
}

.circle-button {
    width: 50px;
    height: 50px;
    background-color: #007BFF;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center; /* Center the text horizontally */
    line-height: 50px; /* Center the text vertically */
}

/* Popup for creating and joining groups */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.popup-content {
    text-align: center;
}

.popup button {
    margin: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.popup button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
}

.popup-content button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.popup-content button.active-tab {
    background-color: #3498db; /* Set the background color for the active tab */
    color: #ffffff; /* Set the text color for the active tab */
}

.red {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.red:hover {
    background-color: darkred;
}