/** CSS formatting of the buttons */
.buttonStyle {
    display: block;
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    margin: 10px 0;
    background-color: #007BFF; /** example color, choose what you like */
    color: white;
    border: none;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DropdownContent.css */
.dropdown-content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
}

.dropdown.active .dropdown-content {
    display: flex;
}

.dropdown-content p {
    padding: 12px;
    margin: 5px 0;
    cursor: pointer;
    pointer-events: auto;
    white-space: nowrap;
}

/* Adjust margin for headings */
.dropdown-content h3,
.dropdown-content h4 {
    margin: 5px 0;
}

.circle-button {
    width: 50px;
    height: 50px;
    background-color: #007BFF;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center; /* Center the text horizontally */
    line-height: 50px; /* Center the text vertically */
}